<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="Game.image" [alt]="Game.nombre" ></td>
            <td>{{Game.nombre}}</td>
            <td>{{Game.categoria}}</td>
            <td>{{Game.precio}}</td>
            <td>{{Game.stock}}</td>
        </tr>
        <tr>
            <td>Pacman</td>
            <td>Plataforma</td>
            <td>$1.000</td>
            <td>500</td>
        </tr>
    </tbody>
</table>
